doctype html
html
    head
        style
            include style.css
    body
        div
            p Hello dear user,
            p We are contacting you with some updates regarding vacancies.
        div
            block content
        div.footer
            | Cheers
            br
            a(href=frontendURL) YoungUnicorn.inc